package-lock.json
node_modules
.vscode
/test*
replacer_api.php
replacer.php
replacer.temp.php
backend/api/test.js
backend/api/tester.js
backend/platform/data/rental_boat_statuses.json
backend/platform/modules/u.js
backend/platform/config/firebase.json
backend/platform/config/.config.js
.clinerules
memory-bank
brain.md
