package-lock.json
node_modules
.vscode
/test*
backend/platform/config/.config.js
backend/platform/config/firebase.json
backend/platform/config/*.config.dec.js
!backend/platform/config/.sample.config.dec.js
dummy

.clinerules
memory-bank
